<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
    <style>
        .main {
            width: 800px;
            margin: auto;
        }
        h1 {
            color: red;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 50px;
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: black;
            margin-top: 50px;
        }
        .main p {
            text-align: center;
        }
        .main .btn {
            display: block;
            margin: 50px auto;
            width: 200px;
            height: 40px;
            background-color: blue;
            color: white;
            text-align: center;
            line-height: 40px;
            border-radius: 50px;
            text-decoration: none;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Your email has been verified successfully!</h1>
        <div class="line"></div>
        <p>Thank you for validating your email address. You can now continue to the login page.</p>
        <a href="http://localhost:5173" class="btn">Login</a>
    </div>
</body>
</html>
